{{ "<!-- Navigation -->" | safeHTML }}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand page-scroll" href="#page-top">sapiens<span class="navbar-brand-dot">.</span>sapide</a>
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                {{ range .Site.Menus.prepend }}
                <li>
                    <a href="{{ .URL }}">{{ .Name | markdownify }}</a>
                </li>
                {{ end }}

                {{ if .Site.Params.services.enable }}
                <li>
                    <a class="page-scroll" href="#services">{{ with .Site.Params.navigation.services }}{{ . | markdownify }}{{ end }}</a>
                </li>
                {{ end }}

                {{ if .Site.Params.technologies.enable }}
                <li>
                    <a class="page-scroll" href="#technologies">{{ with .Site.Params.navigation.technologies }}{{ . | markdownify }}{{ end }}</a>
                </li>
                {{ end }}

                {{ if .Site.Params.portfolio.enable }}
                <li>
                    <a class="page-scroll" href="#portfolio">{{ with .Site.Params.navigation.portfolio }}{{ . | markdownify }}{{ end }}</a>
                </li>
                {{ end }}

                {{ if .Site.Params.about.enable }}
                <li>
                    <a class="page-scroll" href="#about">{{ with .Site.Params.navigation.about }}{{ . | markdownify }}{{ end }}</a>
                </li>
                {{ end }}

                {{ if .Site.Params.team.enable }}
                <li>
                    <a class="page-scroll" href="#team">{{ with .Site.Params.navigation.team }}{{ . | markdownify }}{{ end }}</a>
                </li>
                {{ end }}

                {{ if .Site.Params.contact.enable }}
                <li>
                    <a class="page-scroll" href="#contact">{{ with .Site.Params.navigation.contact }}{{ . | markdownify }}{{ end }}</a>
                </li>
                {{ end }}

                {{ range .Site.Menus.postpend }}
                <li class="postpend-menu">
                    <a href="{{ .URL }}">{{ .Pre }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
